export POSTGRESQL_USERNAME=username
export POSTGRESQL_PASSWORD=password123
export POSTGRESQL_POSTGRES_PASSWORD=password123
export POSTGRESQL_HOST=localhost
export POSTGRESQL_PORT=5432
export POSTGRESQL_DATABASE=postgres
export POSTGRESQL_DATABASE_URL=postgres