# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/dist
/backups
infra/backups/gloses.csv

# misc
.DS_Store
.idea/
*.pem

# debug
npm-debug.log*
# env files (can opt-in for committing if needed)
.env
.env.local

# typescript
*.tsbuildinfo
next-env.d.ts

# Tests files
/playwright-report/
/playwright/.cache/
test-results/

# eslint
.eslintcache

# direnv
.envrc

# Claude's Friends
.agents/
.claude/

# Private documentation
/private-doc

# Vice
.github/vice-badge.json

# Barad-dur code analysis https://lab.frogg.it/Edouard_Mangel/barad-dur
.repository-analysis/
